@import "../../variables.css";

.header{
    justify-content: space-between;
    border-bottom: solid 1px #DCDCDC;
}

.header img{
    height: calc(var(--tam-header) - 2vh)
}

.header a{
    text-decoration: none;
}
  