@import '../../variables.css';

.card{
    border: solid 1px #1f3bdf;
    border-radius: 20px;
    padding: 10px;
    width: var(--card-tam);
}

.card img{
    border-radius: 20px;
    height: calc(var(--card-tam) - 50px);
}

.card-value{
    margin-left: 20px;
}

.title{
    font-size: 2rem;
}